/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lato', sans-serif;
}

swiper-container {
  --swiper-navigation-color: #B8965A;
  --swiper-pagination-color: #B8965A;
}

