/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lato', sans-serif;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .about-maria-img {
    object-position: 75% 30%;
    max-height: 320px;
  }
}

